.Banner{
    padding: 25px 20px 15px 20px;
    text-align: center;
    height: 100px;
    display: block;

}
#carouselExampleIndicators{
    margin-top: 35px;
}

#isi{
	color: #fff;
    min-height: 500px;
	padding-top: 23px;
	margin: 0 250px 0 250px;
}

h3{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px;
    font-weight:bold;
    padding: 5px 30px 5px 18px;
    margin: 20px 0px 20px 0px;
	border-right: 10px;
	background-color: #1aaed0;
}

.isinya{
	width:428px; 
	height:270px;
	overflow: hidden;
	position:relative;
}
.isinya .link{
	font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    display: block;
    position: absolute;
    left: 0;
    height: 50px;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    padding: 25px 15px;
}
.artikel1 .isinya {
	position: relative;
	height: 100%;
}

.artikel1 .isinya > .link {
	display: block;
}
html, body {
	margin:0;
	padding:0;
	height:100%;
 }
 
.footer {
   position:relative;
   min-height: 100%;
}